.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  gap:5px;
}
.product-unit{
    width: 32px;

}
.footer {
 border: solid 2px green; 
 margin-bottom: 8px;
}
